.bg-nav{
    background-color: #1d3557;
    color: white;
    
}
.nav-2 a,.er{
    color: white;
    font-size: 12px;
    padding: 10px 10px;
    
}
.btn-info:focus{
    border: none !important;
}
.fs-7{
    font-size: 13px;
}
::placeholder{
    font-size: 13px;
    color: rgb(175, 174, 174) !important;
}
a{
    text-decoration: none;
}
.sabad{
    color: rgb(45, 248, 79);
    border: 2px solid rgb(255, 255, 255);
    padding: 7px;
    border-radius: 10px;
    
}
.sabad:hover{
    background-color: rgb(17, 104, 0);
    color: cornsilk;
    
}
li{
    list-style: none;
}
.img-r{
    width: 64px;
    height: 64px;
}
.nav-link{
    color: white!important;
    font-size: 14px;
    margin-right: 10px;
    /* border-left: 1px solid; */
}
.nav-item-c{
    position: unset;
   
}
.dropdown-menu-c{
    width: 100%;
    background-color: #f1faee;
    
    
} 

.dropdown-menu-c li:hover a{
    background-color:#f1faee;
color: #970159}

.dropdown-menu-c li a{
    padding-left: 0;
}
.material-icons-menu{
    border: none;
    color: rgb(255, 168, 37)!important;
}


/* !  */



