.stlideraks {
    
    height: 430px;
    /* height: auto; */
   
}
.bg-slider{
    background-color: rgba(255, 166, 0, 0.281);
    border-radius: 60px;
    color: darkblue;
    width: 300px;
    right: 30%;
}
.bg-slider2{
    background-color: rgba(0, 133, 67, 0.295);
    border-radius: 60px;
    color: rgb(255, 255, 255);
    width: 300px;
    right: 30%;
}
.sizeic{
    width: 72px;
    height: 72px;
}
.bg-ship{
    background-color: #ffffffb9;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.089);
    margin: 0;
}
.img-fluidc {
    width: 100%;
    height: auto;
  }
.mahsool{
    transition: 0.6s;
}
.mahsool:hover{
    box-shadow:0px 0px 25px rgba(0, 0, 0, 0.185) ;
}
/* ! */

.nav-linkc{
    color: rgb(0, 0, 78)!important;
   
}
.nav-tabsc .nav-linkc:focus{
    background-color: rgb(146, 224, 255)!important;
   
}


.nav-tabsc{
    border-bottom: 1px solid rgba(0, 0, 56, 0.116);
}
#demo span{
    margin: 5px;
}
