@import './includ/_nav.css';
@import './includ/_slider.css';

@font-face{
    font-family: vazir;
    src: url('./fonts/Vazir-Medium.eot') format('eot'),
    url('./fonts/Vazir-Medium.woff') format('woff'),
    url('./fonts/Vazir-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: vazir;
  
    box-sizing: border-box;
}


